<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
</head>
<body>
{{ request.user.first_name }}
{% if feedbacks %}
{% for feedback in feedbacks %}
<ul>
    <li>{{ feedback.user_email }}</li>
    <li>{{ feedback.feedback }}</li>
</ul>
{% endfor %}

{% endif %}
<form method="POST">
    {% csrf_token %}
   <input type="hidden" name="user_email" value="{{ request.user.email }}">
<br>
<textarea name="feedback" placeholder="Enter your feedback here..."></textarea>
    <input type="submit" value="submit">
</form>

</body>
</html>